<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <leviathan_event>
            <general>
                <enabled>1</enabled>
                <email>test@test.com</email>
                <email_name>John Doe</email_name>
            </general>
        </leviathan_event>
    </default>
</config>
