<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
  * @copyright     Copyright © Leviathan Studios, Licensed under MIT
  * @author        Grey Crane <gmc31886@gmail.com>
  */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="scheduler" frontName="scheduler">
            <module name="LeviathanStudios_Scheduler"/>
        </route>
    </router>
</config>
